.title {letter-spacing:2px;border-bottom:4px solid #4e3b34;padding-bottom:5px;color:#ffcc00;text-align:left;font-family:Georgia,"Times New Roman",Times,serif;font-size:11px;font-weight:bold;line-height:1;}
.space-1 {margin-top:0px;}
.space-2 {margin-top:0px;}
.space-3 {margin-top:30px;}
.space-4 {margin-top:0px;}
.space-5 {margin-top:0px;}
.space-6 {margin-top:0px;}
.content {margin:0px 3px 0px 3px;text-align:left;}
.grid {border-top:1px solid #7d7d7d;border-left:1px solid #7d7d7d;}
.grid td {border-right:1px solid #7d7d7d;border-bottom:1px solid #7d7d7d;padding:5px;vertical-align:top;}
.grid2 {}
.grid2 td {padding:10px;vertical-align:top;background-color:#f1f1f1;color:#232323;border-bottom:1px solid #fff;}
.grid2 td:first-child {padding:10px 20px 10px 20px;background-color:#00104b;color:#fff;}
.padding0510,.padding0520,.padding0830 {}
.padding0510 td {padding:5px 5px 5px 5px;vertical-align:top;}
.padding0520 td {padding:5px 15px 5px 5px;vertical-align:top;}
.padding0830 td {padding:8px 20px 8px 10px;vertical-align:top;}
.spacing1010,.spacing1020,.spacing1030,.spacing1040,.spacing2010,.spacing2020,.spacing2030,.spacing2040,.spacing3010,.spacing3020,.spacing3030,.spacing3040 {}
.spacing1010 td {padding:0px 10px 10px 0px;vertical-align:top;}
.spacing1020 td {padding:0px 20px 10px 0px;vertical-align:top;}
.spacing1030 td {padding:0px 30px 10px 0px;vertical-align:top;}
.spacing1040 td {padding:0px 40px 10px 0px;vertical-align:top;}
.spacing2010 td {padding:0px 10px 20px 0px;vertical-align:top;}
.spacing2020 td {padding:0px 20px 20px 0px;vertical-align:top;}
.spacing2030 td {padding:0px 30px 20px 0px;vertical-align:top;}
.spacing2040 td {padding:0px 40px 20px 0px;vertical-align:top;}
.spacing3010 td {padding:0px 10px 30px 0px;vertical-align:top;}
.spacing3020 td {padding:0px 20px 30px 0px;vertical-align:top;}
.spacing3030 td {padding:0px 30px 30px 0px;vertical-align:top;}
.spacing3040 td {padding:0px 40px 30px 0px;vertical-align:top;}
.border10b0510,.border10b0520,.border10b0530,.border10b1020,.border10b1030,.border10b1040 {border-top:1px solid #7d7d7d;vertical-align:top;}
.border10b0510 td {padding:10px 5px 10px 5px;border-bottom:1px solid #7d7d7d;vertical-align:top;}
.border10b0520 td {padding:10px 15px 10px 5px;border-bottom:1px solid #7d7d7d;vertical-align:top;}
.border10b0530 td {padding:10px 25px 10px 5px;border-bottom:1px solid #7d7d7d;vertical-align:top;}
.border10b1020 td {padding:10px 10px 10px 10px;border-bottom:1px solid #7d7d7d;vertical-align:top;}
.border10b1030 td {padding:10px 20px 10px 10px;border-bottom:1px solid #7d7d7d;vertical-align:top;}
.border10b1040 td {padding:10px 30px 10px 10px;border-bottom:1px solid #7d7d7d;vertical-align:top;}
.border15b0510,.border15b0520,.border15b0530,.border15b1020,.border15b1030,.border15b1040 {border-top:1px solid #7d7d7d;vertical-align:top;}
.border15b0510 td {padding:15px 5px 15px 5px;border-bottom:1px solid #7d7d7d;vertical-align:top;}
.border15b0520 td {padding:15px 15px 15px 5px;border-bottom:1px solid #7d7d7d;vertical-align:top;}
.border15b0530 td {padding:15px 25px 15px 5px;border-bottom:1px solid #7d7d7d;vertical-align:top;}
.border15b1020 td {padding:15px 10px 15px 10px;border-bottom:1px solid #7d7d7d;vertical-align:top;}
.border15b1030 td {padding:15px 20px 15px 10px;border-bottom:1px solid #7d7d7d;vertical-align:top;}
.border15b1040 td {padding:15px 30px 15px 10px;border-bottom:1px solid #7d7d7d;vertical-align:top;}
.georgia-32,.georgia-24,.georgia-16,.georgia-13,.georgia-12,.georgia-11,.georgia-10 {font-family:Georgia,"Times New Roman";}
.georgia-32 {font-size:32px;}
.georgia-24 {font-size:24px;}
.georgia-16 {font-size:16px;}
.georgia-13 {font-size:13px;}
.georgia-12 {font-size:12px;}
.georgia-11 {font-size:11px;}
.georgia-10 {font-size:10px;}
.helvetica-32,.helvetica-24,.helvetica-16,.helvetica-13,.helvetica-12,.helvetica-11,.helvetica-10 {font-family:Helvetica, Arial;}
.helvetica-32 {font-size:32px;}
.helvetica-24 {font-size:24px;}
.helvetica-16 {font-size:16px;}
.helvetica-13 {font-size:13px;}
.helvetica-12 {font-size:12px;}
.helvetica-11 {font-size:11px;}
.helvetica-10 {font-size:10px;}
.tablecenter{text-align:center;margin:0 auto;}
.tablevtop {}
.tablevtop td {vertical-align:top;}
.lineheight1 {line-height:1}
.lineheight12 {line-height:1.2}
.lineheight13 {line-height:1.3}
.button1 {}
.button1 a {padding:7px 15px;background:#084b82;color:#fff;text-align:center;border-radius:8px;}
.button1 a:hover {background:#012d62;color:#fff;text-decoration:none;}
.paddingL10 {padding-left:10px;vertical-align:top;}
.paddingL20 {padding-left:20px;vertical-align:top;}
.paddingL30 {padding-left:30px;vertical-align:top;}
.paddingL40 {padding-left:40px;vertical-align:top;}
.paddingL50 {padding-left:50px;vertical-align:top;}
.paddingT10 {padding-top:10px;vertical-align:top;}
.paddingT20 {padding-top:20px;vertical-align:top;}
.paddingT30 {padding-top:30px;vertical-align:top;}
.paddingT40 {padding-top:40px;vertical-align:top;}
.paddingT50 {padding-top:50px;vertical-align:top;}
.border-radius7 {-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}
.border-radius10 {-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.vertical-top {vertical-align:top;}
.full-slide {width:100%;position:relative;}
.full-slide-image {width:100%;background-color:transparent;height:300px;overflow:hidden;position:relative;}
.container-slide {width:1000px;margin:0 auto;text-align:center;position:relative;}
.slide-img {width:1000px;height:300px;overflow:hidden;text-align:left;}
.slide-img div.imageb-div {position:absolute;left:0px;top:0px;}
.slide-img div.bgvideo {width:216px;height:133px;position:absolute;top:20px;left:764px;padding:0px;background-color:#000;opacity:0.1;filter:alpha(opacity=10);}
.slide-img div.shvideo {width:83px;height:64px;position:absolute;top:55px;left:830px;text-align:center;margin:0 auto;opacity:0.7;filter:alpha(opacity=70);}
.slide-img div.hdvideo {width:72px;height:22px;position:absolute;top:133px;left:5px;text-align:center;margin:0 auto;opacity:0.7;filter:alpha(opacity=70);}
.slide-img div.video {width:216px;height:133px;font-size:25px;color:#fff;position:absolute;top:20px;left:764px;padding:0px;font-weight:bold;text-align:left;}
.slide-img div img {left:0px;top:0px;position:relative;filter:inherit;}
.slide-img div.loading {background:url(../images/loading.gif) no-repeat center center;}
#slide-load {position:absolute;left:0px;top:0px;width:1000px;height:300px;background:url(../images/loading.gif) no-repeat center center;}
.slide-img .bgtext {width:400px;height:150px;position:absolute;top:75px;left:475px;padding:5px 5px 5px 5px;background-color:#31338d;opacity:0.6;filter:alpha(opacity=60);}
.slide-img .text {width:400px;height:150px;line-height:1.3;font-size:25px;color:#fff;position:absolute;top:75px;left:475px;padding:5px 10px 5px 10px;font-weight:bold;text-align:left;opacity:0.8;filter:alpha(opacity=80);}
.read-more {font-size:15px;text-align:right;padding:10px 10px 0px 0px;}
.read-more a {font-weight:bold;color:#fff;}
.read-more a:hover {color:#fff;}
.slide-bg {width:200px;height:15px;position:absolute;top:275px;left:545px;padding:5px 5px 5px 5px;background-color:#000;opacity:0.6;filter:alpha(opacity=60);}
.slide-number {width:200px;height:15px;font-size:13px;color:#fff;position:absolute;top:275px;left:545px;padding:5px 5px 5px 5px;font-weight:bold;text-align:right;opacity:0.8;filter:alpha(opacity=80);}
.slide-number span.button-area {width:15px;height:15px;}
.slide-number div.images-div,.slide-number div.left-float {float:left;position:relative;width:15px;height:15px;margin-right:10px;}
.slide-number div.left-float {margin-right:10px;}
.slide-number img {width:15px;height:15px;}
.slide-number div.sactive {width:15px;height:15px;background:url(../images/sactive.png) no-repeat center center;}
.slide-number div.nactive {width:15px;height:15px;background:url(../images/nactive.png) no-repeat center center;}
.slide-number div.btn-up {color:#3b5264;width:11px;height:11px;position:absolute;top:0px;left:0px;border:2px solid #3b5264;}
.slide-number div.btn-down {color:#084b82;display:none;}
.slide-number div.btn-up a {text-decoration:none;color:#3b5264;}
.slide-number div.btn-down a {text-decoration:none;color:#084b82;}
.slide-number div a:hover {text-decoration:underline;color:#012d62;}
.slide-number div.btn-play-up {background:url(../images/over_play.png) no-repeat center left;}
.slide-number div.btn-play-down {background:url(../images/out_play.png) no-repeat center left;}
.slide-number div.btn-stop-up {background:url(../images/over_stop.png) no-repeat center left;}
.slide-number div.btn-stop-down {background:url(../images/out_stop.png) no-repeat center left;}
.block1,.block2 {width:1001px;}
.block1-row,.block2-row {padding-top:15px;}
.block1-border-top,.block2-border-top {position:relative;}
.block1-border,.block2-border {border-left:1px solid #cccccc;border-right:1px solid #cccccc;border-bottom:2px solid #cccccc;box-shadow:0px 3px 6px rgba(0,0,0,.2);}
.block1-component,.block2-component {padding:10px;overflow:hidden;}
.block1-content,.block2-content {text-align:left;font-size:13px;color:#000;}
.block1-content li,.block2-content li {margin-left:30px;}
.block1-content ol li,.block2-content ol li {margin-left:40px;}
.block1-content th,.block1-content td,.block2-content th,.block2-content td {padding:3px;}
.block1-col-11 {float:left;width:1001px;}
.block1-col-21,.block1-col-22 {float:left;width:491px;}
.block1-col-22 {margin-left:19px;}
.block1-col-31,.block1-col-32,.block1-col-33 {float:left;width:321px;}
.block1-col-32,.block1-col-33 {margin-left:19px;}
.block1-col-41,.block1-col-42,.block1-col-43,.block1-col-44 {float:left;width:236px;}
.block1-col-42,.block1-col-43,.block1-col-44 {margin-left:19px;}
.block2-col-11 {float:left;width:235px;}
.block2-col-21,.block2-col-22 {float:left;width:235px;}
.block2-col-22 {margin-left:20px;}
.block2-col-31,.block2-col-32,.block2-col-33 {float:left;width:235px;}
.block2-col-32,.block2-col-33 {margin-left:20px;}
.block2-col-41,.block2-col-42,.block2-col-43,.block2-col-44 {float:left;width:235px;}
.block2-col-42,.block2-col-43,.block2-col-44 {margin-left:20px;}
.full-homepage {width:100%;background-color:#333333;min-height:300px;border-top:13px solid #e4f67d;}
.homepage-inside {padding-bottom:20px;}
.homepage-inside a {color:#fff;text-decoration:none;}
.homepage-inside a:hover,.homepage-inside a:focus {color:#fff;text-decoration:underline;}
.homepage {width:1001px;}
.homepage-border-top {padding-top:10px;}
.homepage-border {}
.homepage-component {padding:10px;}
.homepage-content {text-align:left;font-size:16px;color:#fff;font-weight:100;line-height:1.3;overflow:hidden;}
.homepage-content li {margin-left:30px;}
.homepage-content ol li {margin-left:40px;}
.homepage-content th,.homepage-content td {padding:3px;}
.homepage-col-11 {float:left;width:1001px;}
.homepage-col-21,.homepage-col-22 {float:left;width:491px;}
.homepage-col-22 {margin-left:19px;}
.homepage-col-31,.homepage-col-32,.homepage-col-33 {float:left;width:321px;}
.homepage-col-32,.homepage-col-33 {margin-left:19px;}
.homepage-col-41,.homepage-col-42,.homepage-col-43,.homepage-col-44 {float:left;width:236px;}
.homepage-col-42,.homepage-col-43,.homepage-col-44 {margin-left:19px;}
.event {}
.event-title {float:left;width:120px;height:150px;background:#00511e;font-size:22px;color:#cccccc;text-align:left;line-height:1.3;font-family:Georgia,"Times New Roman",Times,serif;}
.event-upcoming {padding:10px 5px 10px 5px;}
.event-subtitle {height:103px;}
.event-more {text-align:left;}
.event-more a {color:#cccccc;text-decoration:none;font-size:15px;}
.event-more a:hover,.event-more a:focus {text-decoration:underline;color:#fff;font-size:15px;}
.event-content {float:left;width:881px;height:150px;background-color:#eeeeee;}
.event-border {border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-right:1px solid #cccccc;width:880px;height:148px;}
.event-col {float:left;width:219px;height:149px;}
.event-border-left {height:149px;border-left:1px solid #cccccc;}
.event-date {font-size:13px;color:#7d7d7d;font-weight:bold;font-style:italic;text-align:left;padding:10px 10px 0px 10px;}
.event-subject {font-size:13px;text-align:left;padding:10px 10px 10px 10px;}
.event-intro {font-size:12px;text-align:left;color:#7d7d7d;padding:0px 10px 10px 10px;}
.new {}
.new-title {float:left;width:120px;height:150px;background:#9a1c52;font-size:22px;color:#cccccc;text-align:left;line-height:1.3;font-family:Georgia,"Times New Roman",Times,serif;}
.new-upcoming {padding:10px 5px 10px 5px;}
.new-subtitle {height:103px;}
.new-more {text-align:left;}
.new-more a {color:#cccccc;text-decoration:none;font-size:15px;}
.new-more a:hover,.new-more a:focus {text-decoration:underline;color:#fff;font-size:15px;}
.new-content {float:left;width:881px;height:150px;background-color:#eeeeee;}
.new-border {border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-right:1px solid #cccccc;width:880px;height:148px;}
.new-col {float:left;width:219px;height:149px;}
.new-border-left {height:149px;border-left:1px solid #cccccc;}
.new-date {font-size:13px;color:#7d7d7d;font-weight:bold;font-style:italic;text-align:left;padding:10px 10px 0px 10px;}
.new-subject {font-size:13px;text-align:left;padding:10px 10px 10px 10px;}
.ffollow {margin-top:10px;}
.ffollow ul {position:relative;list-style:none;text-align:left;font-size:100%;font:inherit;}
.ffollow ul li {float:left;padding-right:10px;opacity:0.7;filter:alpha(opacity=70);}
.ffollow ul li:hover {opacity:1;filter:alpha(opacity=100);}
.flink {padding-top:10px;}
.flink-logo {float:left;width:30px;}
.flink-link {float:left;}
.flink-link2 {float:left;width:189px;}
.full-highlight {width:100%;background-color:#020f41;min-height:300px;border-top:13px solid #475402;}
.highlight-inside {padding-bottom:20px;}
.highlight-inside a {color:#fff;text-decoration:none;}
.highlight-inside a:hover,.highlight-inside a:focus {color:#fff;text-decoration:underline;}
.highlight-border-top {padding-top:10px;}
.highlight-title {text-align:center;color:#fff;font-size:30px;font-family:DINPro-Bold,Georgia,"Times New Roman";}
.highlight-ttl {margin-bottom:-5px;}
.highlight-ttl-under {border-top:1px solid #fff;width:200px;text-align:center;margin:0 auto;}
.highlight {margin-top:20px;}
.highlight-col-1 {float:left;width:215px;}
.highlight-col-2 {float:left;width:215px;padding-left:45px;}
.highlight-col-3 {float:left;width:215px;padding-left:45px;}
.highlight-col-4 {float:left;width:215px;padding-left:45px;}
.highlight-img {width:215px;height:133px;}
.highlight-img  img {width:215px;height:133px;}
.highlight-subject {margin-top:10px;color:#fff;font-size:20px;font-family:DINPro-Regular, Helvetica, Arial;font-weight:600;line-height:1;}
.highlight-intro {margin-top:10px;color:#fff;font-size:16px;font-family:DINPro-Regular, Helvetica, Arial;font-weight:100;line-height:1.2;}
.highlight-more {text-align:right;border-top:1px solid #cccccc;padding:3px 10px 0px 0px;font-size:13px;font-family:DINPro-Regular, Helvetica, Arial;font-weight:100;}
.highlight-more a {color:#fff;text-decoration:none;}
.highlight-more a:hover,.highlight-inside a:focus {color:#fff;text-decoration:underline;}


.highlight {margin-top:10px;}
.highlight-col-1 {float:left;width:215px;}
.highlight-col-2 {float:left;width:215px;padding-left:45px;}
.highlight-col-3 {float:left;width:215px;padding-left:45px;}
.highlight-col-4 {float:left;width:215px;padding-left:45px;}
.highlight-img {width:215px;height:133px;}
.highlight-img  img {width:215px;height:133px;}
.highlight-subject {margin-top:10px;font-size:12px;}
.row-1 {padding-top:20px;}
.row-2 {padding-top:30px;}
.row-3 {padding-top:30px;}
.row-4 {padding-top:30px;}
.row-5 {padding-top:30px;}
